* text=auto

*.c      text eol=lf
*.ino    text eol=lf
*.cpp    text eol=lf
*.h      text eol=lf
*.inc    text eol=lf
*.json   text eol=lf

*.md         text eol=lf
*.txt        text eol=lf
AUTHORS      text eol=lf
CHANGELOG    text eol=lf
CHANGES      text eol=lf
CONTRIBUTING text eol=lf
COPYING      text eol=lf
INSTALL      text eol=lf
license      text eol=lf
LICENSE      text eol=lf
NEWS         text eol=lf
readme       text eol=lf
*README*     text eol=lf
TODO         text eol=lf

*.ai   binary
*.bmp  binary
*.eps  binary
*.gif  binary
*.ico  binary
*.jng  binary
*.jp2  binary
*.jpg  binary
*.jpeg binary
*.jpx  binary
*.jxr  binary
*.pdf  binary
*.png  binary
*.psb  binary
*.psd  binary
*.svg  text eol=lf
*.svgz binary
*.tif  binary
*.tiff binary
*.wbmp binary
*.webp binary

